extends base

block content
    div.grid.grid-pad
        div.col-1-1
            h2 What is wrapulous?
            p
                | Wrapulous is an easy to use REsTful web service
                | for shortening links and tracking click events.

            h2 Aren't there already other services like this?
            p
                | Yes!  I found other services overwhelming to use
                | programatically for what I was doing though.
            h2 Something is broken!
            p
                a(href='http://twitter.com/nbrempel') Yell at me
                |  and I'll get it fixed ASAP.
