extends base

block content
  div.grid.grid-pad
    h2 Who built this?
    p
      :markdown
        That's me, [Nicholas Rempel](http://r.empel.co).

    h2 I found a bug!
    p
      :markdown
        Create an issue on [github](https://github.com/nrempel/wrapulous/issues)
        and I'll take a look!

    h2 I want to request a feature!
    p
      :markdown
        Awesome!  Poke me on [twitter](https://twitter.com/nbrempel) and I'll
        see what I can do.

    h2 Is this 100% reliable?
    p
      :markdown
        No.  I do my best to make things run smoothly but I can't make any
        guarantees.
