doctype
html
  head
    title wrapulous
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/simplegrid.css')
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/lib/ladda.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css')
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/spin.min.js')
    script(src='/js/lib/ladda.min.js')
    script(src='/js/lib/ladda.jquery.min.js')
    block js
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-49233010-1', 'wrapulous.com');ga('require', 'displayfeatures');ga('send', 'pageview');</script>

    body
      div.page-wrap
        header
          div.grid
            div.col-5-12
              h1.title
                a(href='/')
                  img(src='img/icon.png').vert-align
                  span.vert-align Wrapulous

            div.col-7-12
              div.nav
                a(href='/').plain-link.no-under.vert-align.bubble Home
                a(href='/#').plain-link.no-under.vert-align.bubble Docs
                a(href='/#').plain-link.no-under.vert-align.bubble About

        div.content
          block content

      footer.site-footer
        div.grid
          col-1-1
            small.subtle.footer-content.pull-right
              p.inline © #{year}
              | &nbsp;
              a.plain-link(href='http://r.empel.co') Nicholas Rempel
