doctype
html
    head
        title wrapulous
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/simplegrid.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/fonts/cmun-typewriter-light.css')
        script(src='/javascripts/jquery.js')

    body
        header
            block header

        div
            block content

        footer
            block footer