extends base

block content
    div.grid.grid-pad
        div.col-1-2
            h2 Wrap a Link
            code
                | curl api.wrapulous.com/api/v0/links \<br>
                | -X POST \<br>
                | -d '{"destination":"google.ca"}' \<br>
                | -H 'Content-Type:application/json'

        div.col-1-2
            h2 Track a Link
            code
                | curl api.wrapulous.com/api/v0/links/:id
