extends base

block js
  script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js')
  script
    | hljs.initHighlightingOnLoad();

block css
  link(rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css')

block content
  div.grid.grid-pad
    div.col-3-12
      div.bordered-r.marg-tb-2
        h2.inline
          i.fa.fa-lightbulb-o.pad-r
          | API
        ul.no-pad
          li.marg-tb
            a(href='/docs').no-under Overview
          li.marg-tb
            a(href='/docs/accounts').no-under Accounts
          li.marg-tb
            a(href='/docs/links').no-under Links
          li.marg-tb
            a(href='/docs/events').no-under Events
    div.col-9-12
      block doc-details
