extends base

block header
    div.grid.grid-pad.text-center
        h1.inline wrapulous
        | &nbsp;
        small.dark the simple link wrapping api



block content
    div.grid.grid-pad
        div.col-1-2
            h2 Wrap a link
            code
                | curl api.wrapulous.com/api/v0/links \<br>
                | -X POST \<br>
                | -d '{"destination":"google.ca"}' \<br>
                | -H 'Content-Type:application/json'

        div.col-1-2
            h2 Track a link
            code
                | curl api.wrapulous.com/api/v0/links/:id


block footer
    div.grid.grid-pad.text-center
        small
            p.inline © 2013,
            | &nbsp;
            a.no-under(href='http://r.empel.co') Nicholas Rempel
