/** BASE STYLES **/
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 19px;
  margin: inherit;
}
body .grid {
  max-width: 900px;
}
body,
html {
  height: 100%;
}
/** HEADER **/
header {
  font-size: 21px;
  padding-top: 1em;
  padding-bottom: 1em;
}
header .title span {
  border-top: 0.15em solid #8b6969;
}
header .title a {
  color: inherit;
  margin-right: 1em;
  margin-left: 1em;
  text-decoration: underline;
  text-decoration-color: #a52a2a;
}
header .title img {
  width: 50px;
  height: 50px;
  margin-right: 0.3em;
}
header .nav {
  border-bottom: 0.15em solid #8b6969;
  float: right;
  font-weight: 100;
  height: 56px;
  line-height: 56px;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
header .nav a {
  padding-right: 1em;
  padding-left: 1em;
}
header .nav .bubble:hover {
  color: #8b6969;
}
/** FOOTER **/
footer .grid {
  max-width: none;
}
footer .footer-content {
  margin-right: 1em;
  margin-bottom: 1em;
}
/** BASE STYLES **/
.content {
  font-size: 19px;
}
.content .result {
  border: 0.1em dashed #ddd;
  border-radius: 10px;
}
.content #details {
  transition: opacity 2s ease;
}
.content .details-hide {
  opacity: 0;
}
.content .details-show {
  opacity: 1;
}
/** LINKS **/
a {
  color: #808c6b;
}
header a:hover {
  opacity: 0.8;
}
header a:active {
  opacity: 0.6;
}
/** INPUTS **/
input {
  transition: box-shadow 1s ease-in;
  border-radius: 7px;
}
input[type="url"],
textarea {
  text-align: center;
  width: 80%;
  margin: 1em 0 1em 0;
  border: 1px solid #ddd;
  font-size: 0.8em;
  outline: none;
  padding: 0.5em;
}
.glow-green {
  box-shadow: 0 0 7px #0a0;
  transition: box-shadow 0.1s ease;
}
.glow-red {
  box-shadow: 0 0 7px #a00;
  transition: box-shadow 0.1s ease;
}
/** BUTTONS **/
.shortener-button-container {
  width: 20%;
  text-align: center;
  display: inline-block;
}
.shortener-button-container button {
  border-radius: 7px;
}
/** HELPERS **/
.inline-block {
  display: inline-block;
}
.vert-align {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.inline {
  display: inline;
}
.marg-tb {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.marg-tb-2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.text-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.no-under {
  text-decoration: none;
}
.italic {
  font-style: italic;
}
.dark {
  color: #222;
}
.uppercase {
  text-transform: uppercase;
}
.fit {
  width: 100%;
}
.plain-link {
  color: inherit;
}
.subtle {
  color: #a2a2a2;
  font-weight: 100;
}
.heavy {
  font-weight: 800;
}
small,
.small {
  font-size: 0.8em;
}
.reverse {
  display: inline-block;
  -moz-transform: scaleX(-1);
/* Gecko */
  -o-transform: scaleX(-1);
/* Opera */
  -webkit-transform: scaleX(-1);
/* webkit */
  transform: scaleX(-1);
/* standard */
  filter: FlipH;
/* IE 6/7/8 */
}
/** FINAL MEDIA QUERIES **/
@media handheld, only screen and (max-width: 767px) {
  header .title {
    text-align: center;
  }
  header .title a {
    float: none;
  }
  header .title a img {
    margin-left: 0;
  }
  header .nav {
    float: none;
    text-align: center;
    border-bottom: none;
  }
}
/* STICKY FOOTER */
html,
body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -1.9em;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  height: 1.9em;
}
/** LADDA EXTENSIONS **/
.ladda-button[data-color=dusty-brown] {
  background: #8b6969;
}
.ladda-button[data-color=dusty-brown]:hover {
  background: #a38787;
}
