/* gratefully forked from https://github.com/simonwhitaker/github-fork-ribbon-css  */

.ribbon-wrapper
  width: 150px
  height: 150px
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  z-index: 9999
  pointer-events: none


.ribbon
  position: absolute;
  padding: 2px 0;
  background-color: #16793E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)))
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15))
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15))
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15))
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15))
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15))
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5)
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5)
  z-index: 9999
  pointer-events: auto

  top: 42px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  a, a:hover
    font-family: 'Roboto Slab', serif;
    font-size: 13px
    font-weight: 400
    color: white
    text-decoration: none
    text-shadow: 0 -1px rgba(0,0,0,0.5)
    text-align: center
    width: 200px
    line-height: 25px
    display: inline-block
    padding: 2px 0
    border-width: 1px 0
