extends ../docs

block doc-details
  h2.dusty-brown POST /accounts
  p Creates a new account and returns the account object including the API key.

  h3 Example
  pre
    code
      | curl -X POST api.wrapulous.com/api/v0/accounts
    code
      | {"apiKey":"bHvtbvoaTm26U00gqgcmkyyc","created":"2014-07-08T23:52:27.415Z","object":"account","id":"ac_Bx4NjnczkGAswCAsC6sOmYeG"}
