extends ../docs

block doc-details
  h2.dusty-brown GET /links
  p Lists all links that have been shortened.

  h3 Parameters
  table
    thead
      tr
        th name
        th required
        th description
    tbody
      tr
        td limit
        td <code>false</code>
        td Specifies the number of results to be returned. Must be between
          | <code>0</code> and <code>100</code>.  Defaults to <code>100</code>.
      tr
        td offset
        td <code>false</code>
        td Specifies the index of the first result to be returned.  Defaults to
          | <code>0</code>.
      tr
        td sortBy
        td <code>false</code>
        td Specifies which name should be used to sort the results set.
          | Defaults to <code>created</code>.
      tr
        td sortOrder
        td <code>false</code>
        td Specifies the sort order of the results set.  Must be <code>-1</code>
          | for descending or <code>1</code> for ascending.  Defaults to
          | <code>-1</code>.

  h3 Example
  pre
    code
      | curl 'api.wrapulous.com/v0/links?limit=5&offset=1&sortBy=destination&sortOrder=1' -u bHvtbvoaTm26U00gqgcmkyyc:
    code
      | [{"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"asd.ac","url":"wrpls.com","tag":"kOCofI","created":"2014-07-08T21:05:49.941Z","object":"link","id":"li_5vYVpA0c5UWUeUSuEySuUIkM"},{"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"google.ca","url":"wrpls.com","tag":"2FksrV","created":"2014-07-08T18:29:37.189Z","object":"link","id":"li_5vYVpA0c5UWUeUSuEySuUIkM"},{"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"google.ca","url":"wrpls.com","tag":"lbMO9q","created":"2014-07-08T20:00:44.648Z","object":"link","id":"li_5vYVpA0c5UWUeUSuEySuUIkM"},{"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"google.ca","url":"wrpls.com","tag":"SftSX4","created":"2014-07-08T21:51:55.581Z","object":"link","id":"li_5vYVpA0c5UWUeUSuEySuUIkM"},{"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"google.ca","url":"wrpls.com","tag":"aVuiKx","created":"2014-07-08T23:44:29.008Z","object":"link","id":"li_5vYVpA0c5UWUeUSuEySuUIkM"}]

  h2.dusty-brown GET /links/:tag
  p List a link that has been shortened.

  h3 Example
  pre
    code
      | curl 'api.wrapulous.com/v0/links/kOCofI -u bHvtbvoaTm26U00gqgcmkyyc:
    code
      | {"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"asd.ac","url":"wrpls.com","tag":"kOCofI","created":"2014-07-08T21:05:49.941Z","object":"link","id":"li_5vYVpA0c5UWUeUSuEySuUIkM"}

  h2.dusty-brown POST /links
  p Shorten a link.  If no API key is provided, one will be generated and
    | returned to you in the <code>X-Api-Key</code> response header.

  h3 Body
  table
    thead
      tr
        th name
        th required
        th description
    tbody
      tr
        td desination
        td <code>true</code>
        td Specifies the link that should be shortened.  If the link is not a
          | valid url, the server will respond with a 400 response code.

  h3 Example
  h4 With API key:
  pre
    code
      | curl -X POST api.wrapulous.com/v0/links -d '{"destination":"google.com"}' -H 'Content-Type: application/json' -u bHvtbvoaTm26U00gqgcmkyyc:
    code
      | {"account":"ac_Bx4NjnczkGAswCAsC6sOmYeG","destination":"google.com","url":"wrpls.com","tag":"Fq4eaD","created":"2014-07-09T21:38:10.922Z","object":"link","id":"li_vk9WrRC8CGuGmseMuqOAoEws"}
  h4 Without API key (note the X-Api-Key response header):
  pre
    code
      | curl -X POST api.wrapulous.com/v0/links -d '{"destination":"google.com"}' -H 'Content-Type: application/json' -D -
    code.
      HTTP/1.1 201 Created
      Server: Cowboy
      Connection: keep-alive
      Date: Wed, 09 Jul 2014 21:47:03 GMT
      Content-Length: 189
      Content-Type: application/json; charset=utf-8
      X-Api-Key: UVupMSaYiyaGe2e4Em4ceEOa
      Vary: X-HTTP-Method-Override
      X-Powered-By: Express
      Via: 1.1 vegur

      {"account":"ac_pPknCL5TGKqkcmgsQUGG0kKy","destination":"google.com","url":"wrpls.com","tag":"M5zAZl","created":"2014-07-09T21:47:03.024Z","object":"link","id":"li_vk9WrRC8CGuGmseMuqOAoEws"}
